*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right , purple , deeppink);
}
.heading{
    color: chartreuse;
}
.result{
    color: chartreuse;
}
label{
    font-size: 1.3rem;
    color: white;
}
input[type=number]{
    border-radius: 10px ;
    height: 40px;
    border-bottom: 1px solid black;
    width: 300px;

}
select{
    border: 1px solid blue;
    background:linear-gradient(to right ,  violet , tomato);
}
.container{
    /* border: 1px solid black;  */
    width:50% ;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
/* input{
    width: 200px;
} */
.ele{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.optionsDiv{

    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    /* flex-direction: column; */
    gap: 40px;
}

.convertBtn{
    margin-top: 20px;
   width: 300px;
}
